html {
    background-color: rgba(177, 204, 22, 0.425)
}

li {
    list-style: none;
}

.monsterName {
    background-color: black;
    color: white;
    font-weight: bold;
}

.warn {
    background-color: red;
}