div {
    margin-bottom: 15px;
    line-height:120px;
}

p {
    
}

.pink {
    background-color: pink;
}

.tomato {
    background-color: tomato;
}

.gold {
    background-color: gold;
}

.skyblue {
    background-color: skyblue;
}