body {
    margin: 0;
    padding: 0;
}

div {
    line-height:120px;
}

.pink {
    background-color: pink;
}

.tomato {
    background-color: tomato;
}

.gold {
    background-color: gold;
}

.skyblue {
    background-color: skyblue;
}